/* Color Variables */

:root {
    --veryDarkGrayishBlue: hsl(217, 19%, 35%);
    --desaturatedDarkBlue: hsl(214, 17%, 51%);
    --grayishBlue: hsl(212, 23%, 69%);
    --lightGrayishBlue: hsl(210, 46%, 95%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--lightGrayishBlue);
    font-family: 'Manrope', sans-serif;
}

.main {
    width: 100%;
    max-width: 327px;
    height: 512px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px
}

.main-img-container {
    height: 200px;
    margin-bottom: 31px;
    overflow: hidden;
}

.main-img {
    width: 100%;
    max-width: 327px;
    height: 240px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 31px;
}

.main-txt {
    margin-left: 33px;
    margin-right: 33px;
}

.main-header {
    color: var(--veryDarkGrayishBlue);
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 23px;
}

.main-desc {
    width: 98%;
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 13px;
    line-height: 1.6;
    color: var(--desaturatedDarkBlue);
}

.article-info {
    display: inline-block;
}

.avatar {
    width: 100%;
    max-width: 40px;
    height: 40px;
    margin-left: 33px;
    border-radius: 50%;
    display: inline-block;
}

.author-name {
    display: inline-block;
    margin-top: 0;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    top: -25px;
    color: var(--veryDarkGrayishBlue);
    padding-left: 11px;
}

.article-date {
    display: inline-block;
    margin: 0;
    text-align: left;
    font-size: 13px;
    position: relative;
    left: -116px;
    top: -4px;
    color: var(--grayishBlue);
}

.icon-container {
    display: inline-block;
    border-radius: 50%;
    background-color: var(--lightGrayishBlue);
    width: 33px;
    height: 33px;
    position: relative;
    top: -4px;
    left: -24px;
    cursor: pointer;
}

.share-icon {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.share-menu {
    width: 100%;
    max-width: 327px;
    height: 64px;
    background-color: var(--veryDarkGrayishBlue);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menu-text {
    display: inline;
    margin-left: 33px;
    position: relative;
    top: 18px;
    color: var(--grayishBlue);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 5px;
  }

.menu-icon {
    position: relative;
    top: 23px;
    cursor: pointer;
}  

.icon-1 {
    margin-left: 18px;
}

.icon-2 {
    margin-left: 17px;
}

.icon-3 {
    margin-left: 17px;
}

.icon-container-active {

    border-radius: 50%;
    background-color: var(--desaturatedDarkBlue);
    width: 33px;
    height: 33px;
    position: relative;
    top: -9px;
    left: 261px;
    cursor: pointer;

}

.share-icon-active {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Helper Classes */

.hidden {
    display: none;
    opacity: 0;
}

.active {
    display: inline-block;
    opacity: 1;
}

.opacity {
    opacity: 0;
    display: none;
}

/* Media Query */

/* Large Devices(laptops/desktops, 992px and up) */
@media only screen and (min-width:992px) {
    .main {
        width: 100%;
        max-width: 730px;
        height: 280px;
       
    }

    .main-img-container {
        width: 285px;
        height: 280px;
        
    }

    .main-img {
        width: 350px;
        max-width: none;
        height: 280px;
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    .main-txt {
        display: inline-block;
        position: relative;
        left: 325px;
        top: -279px;
        margin: 0;
        letter-spacing: 0.25px;
        
    }

    .main-header {
        width: 51%;
        font-size: 20px;
        line-height: 28px;
    }

    .main-desc {
        width: 50%;
        position: relative;
        top: -3px;
        font-size: 12.5px;
        letter-spacing: 0.33px;
    }

    footer {
        display: inline-block;
        position: relative;
        top: -290px;
        left: 292px;
    }

    .author-name {
        left: 2px;
        letter-spacing: 0.1px;
    }

    .article-date {
        left: -117px;
        top: -5px;
        letter-spacing: 0.1px;
    }

    .icon-container {
        left: 83px;
        top: -4px;
        width: 32px;
        height: 32px;
    }

    .share-menu {
        width: 248px;
        height: 55px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        position: relative;
        left: 258px;
        top: -136px;
    }

    .menu-text {
        top: 13px;
        left: 4px;
        letter-spacing: 5.5px;
    }

    .menu-icon {
        top: 18px;
        left: 1px;
    }

    .icon-1 {
        margin-left: 17px;
    }

    .icon-2 {
        position: relative;
        left: -3px;
        top: 17px;
    }

    .icon-3 {
        margin-left: 9px;
    }

    .icon-container-active {
        width: 32px;
        height: 32px;
        top: 58px;
        left: 108px;
    }

    .share-icon-active {
        left: 51%;
    }



    .triangle {
        width: 0;
        height: 0;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        border-top: 18px solid var(--veryDarkGrayishBlue);
        margin: 32px;
        position: relative;
        left: 332px;
        top: -174px;
    }

    /* Helper Classes */
    .hidden {
        opacity: 1;
        display: inline-block;
    }

    .opacity {
        opacity: 0;
        visibility: hidden;
    }
}